<h1><%= title %></h1>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div id="registration_form">
    <form id="registration_inputs" action="/account/register" method="post">
        
        <label for="firstname">First Name</label>
        <input id="firstname" 
        type="text" name="account_firstname" required value="<%= locals.account_firstname %>">>
        
        <label for="lastname">Last Name</label>
        <input id="lastname" 
        type="text" name="account_lastname" required>
        
        <label for="email">Email </label>
        <input id="email"  
        type="email" name="account_email" required>
        
        <label for="password">Password </label>
        <input id="password" 
        type="password" name="account_password"
        pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{12,}$" required>
        <p>The password must have:<br> a Capital Letter, a Number,<br> and a Special Character</p>
        <button id="register_button" type="submit">Register</button>

</form>
</div>