<% if (title) { %>
<h1><%- title %></h1>
<% } else {
    res.redirect('/')
} %>
<%- messages() %>
<div class="inv_button_holder">
<a class="add_inventory_button" href="/inv/addClassification">Add a classification type</a>
</div>
<div class="inv_button_holder">
<a class="add_inventory_button" href="/inv/addInv">Add to Inventory</a>
</div>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>