<% if (title) { %>
<h1><%- title %></h1>
<% } else {
    res.redirect('/')
} %>
<%- messages() %>
<div class="inv_button_holder">
<a class="add_inventory_button" href="/inv/addClassification">Add a classification type</a>
</div>
<div class="inv_button_holder">
<a class="add_inventory_button" href="/inv/addInv">Add to Inventory</a>
</div>
<div id="grid_holder">
<%- grid %>
</div>

